.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.empty,
.ship {
  background-color: rgb(29, 162, 216);
}

.ship {
  background-color: red;
}

.hit {
  background-color: rgb(180, 0, 0);
}

.miss {
  background-color: blue;
}

.sunk {
  background-color: black;
}

.board {
  margin: 20px;
}
