body {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  background-image: url("./background.png");
  color: white;
  text-align: center;
}

h1 {
  margin: 0.3em auto;
}

.row {
  background: none;
}

.gameContainer {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-areas:
    "playerHeader compHeader"
    "playerContainer compContainer";
}

.gameContainer div div div div {
  border: 5px solid rgb(29, 162, 216);
  border-style: inset;
}

.board {
  margin: 20px;
}

.empty,
.compShip {
  background-color: #eaeaea30;
}

.drag-valid,
.drag-start {
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.52) 40%,
    #eaeaea30 40%
  );

  /* background-color: rgba(255, 0, 0, 0.52); */
}

.ship {
  background: radial-gradient(circle at center, red 40%, #eaeaea30 40%);
}

.hit {
  background: radial-gradient(
    circle at center,
    rgb(180, 0, 0) 40%,
    #eaeaea30 40%
  );

  /* background-color: rgb(180, 0, 0); */
}

.miss {
  background-color: blue;
}

.sunk {
  background-color: black;
}

.drag {
  pointer-events: none;
}

.controlContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.buttonContainer {
  display: grid;
  gap: 4em;
  gap: 0px;
  justify-items: right;
}

button {
  font-size: larger;
  background: none;
  color: white;
  border: 2px solid red;
  border-radius: 2px;
  width: 7em;
  padding: 0.3em;
  margin: 1em;
}

p {
  width: 80%;
  margin: auto 3em;
  background-color: rgba(0, 0, 0, 0.638);
}

.playerHeader {
  grid-area: playerHeader;
}

.compHeader {
  grid-area: compHeader;
}

.playerContainer {
  grid-area: playerContainer;
  touch-action: none;
}

.compContainer {
  grid-area: compContainer;
}

@media (max-width: 800px) {
  .gameContainer {
    grid-template-areas:
      "compHeader"
      "compContainer"
      "playerHeader"
      "playerContainer";
  }
}
